USERNAME=username
PASSWORD=password
API_KEY=1234567890
ADDRESS=https://X.X.X.X
PORT=443
VERIFY_SSL=False
DEBUG_CONNECTION=False
VERBOSE_JSON=True
LIVE_FGT_DEVICE_NAME=<FGTDEVICENAME>
FGT_ASSIGNED_POL_PKG=<FGTPOLPKG>